.wrapper {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.16);
  border-radius: 11px;
  background-color: #ffffff;
  display: flex;
  color: #000000;
  font-size: 17px;
  font-weight: 300;
	align-items: center;
	padding: 2px 19px;
}