.lotteryTableWrapper {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noLotteries {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.hintOverlay {
  background: rgba(0,0,0, .36);
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}