.copyInput {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.success {
  display: block;
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  white-space: nowrap;
  right: 0;
  margin-right: 100px;
  background: #fff;
  border-radius: 8px;
  opacity: 0;
  transition: opacity .25s ease, margin-right .25s ease;
}
.success.active {
  opacity: 1;
  margin-right: 0;
}