.wrapper {
  width: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
  position: relative;
}

.opened {
  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -19px;
    left: 0;
    right: 0;
    width: 0; 
    height: 0; 
    margin: 0 auto;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    
    border-bottom: 12px solid #F5F5F5;
  }
}