.icon {
  width: 21px;
  height: 19px;
  background-repeat: no-repeat;
  background-size: 21px 19px;
  background-position: center;
  background-image: url('./metamask-icon-black.svg');
}

.iconColor {
  background-image: url('./metamask-icon-color.svg');
}
