.collapseButton {
  border: none;
  background: none;
  cursor: pointer;
  padding-right: 0;

  &:focus {
    outline: none
  }

  &:hover {
    svg {
      path {
        stroke: #5bc1f0;
      }
    }
  }
}

.collapsed {
  svg {
    transform: rotate(180deg);
  }
}